/*missing definition for general things
1. body, html
2. *{margin:0; padding: 0;border: 0;} - some browsers are setting this element by default - but with this code line you will explicitely prevent it
*/

/*this is regular, but I think better practice would be to dedicate a class to your element how could you prevent this style applying for all h1 tags on your whole app*/
h1 { 
	margin-top: 2em;
	text-align: center; 
}
/*the same comment as it was for h1 tag*/
section {
	padding: 0em 1em 1.5em 1em; 
}

.text-section {
	width: 80%;
	margin: 0em auto; 
}

/* make the form a little presentable  by adding a bordering and center the form and the elements inside it */
form#insertInfo { 
	border: 2px solid gray; 
	width: 14em; 
	margin: 0em auto;  
	padding: 0em 1.5em 1.5em 1.5em; 
}

/* place paragraphs and input text vertically closer while distancing the input button from the rest vertically */
form#insertInfo   p { 
	margin-bottom: 0em; 
}
form#insertInfo  input[type="text"] { 
	margin-top: 0em; 
}
/*the same comment as it was the case for h1 and section tags*/
textarea  {
	max-height: 4.5em;
	max-width: 13em; 
	margin-bottom: 1em; 
}

/* shape and position the submit button */
form#insertInfo input[type="submit"] { 
	margin: 0em 3em; 
	width: 7em;
    height: 7em;
    border-radius: 100%;
    border: none;
}


@media only screen and (min-width: 633px) {
	#reviewItems div, #verifiedItems  div{
		float: left;
		margin: 1em 0.5em; 
	}
}

@media only screen and (max-width: 632px) {
	#reviewItems div, #verifiedItems  div{
		margin: 1em auto;
	}
}
/*the same comment as it was the case for h1, section and textarea tags*/
hr {
	clear: left; 
}


/*I think here you made good job because you applied css style on it which is really acceptable for whole app*/
input[type="submit"]:hover, 
input[type="button"]:hover, 
input[type="checkbox"]:hover {
	background-color: #cacaca; 
}